<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.in_tune.in_tunex3" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ForgotPassword"
            android:label="Forgot Password"/>

        <activity
            android:name=".NeedAccount"
            android:label="Need Account"
            />

        <activity android:name=".Garage"
            android:label="My Garage"
            />

        <activity android:name=".MainScreen"
            android:label="Main Screen"></activity>

        <activity android:name=".MyProfile"
            android:label="My Profile"
            />

        <activity android:name=".MyReward"
            android:label="My Reward"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
      <!--  <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" /> -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCWp6c_vBIw91tGoGSK-kJcjNK-UHoY3uo"/>

        <activity
            android:name=".MapsActivityFragment"
            android:label="@string/title_activity_maps_activity_fragment" >
        </activity>
    </application>


</manifest>
